---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 30px 0">
                    <!--<h1>{{ page.title }}</h1>-->
                    <!--{% if page.subtitle %}-->
                    <!--<h2 class="subheading">{{ page.subtitle }}</h2>-->
                    <!--{% endif %}-->
                    <!--<span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>-->
					{% if site.logo %}
					<img src= "{{ site.logo }}" style="height: 150px">
					{% endif %}
				</div>
            </div>
        </div>
    </div>
</header>

<!--{% include float_left.html %}-->

{% include float_roboot.html %}

<!-- Also Interesting -->

{% assign relevantpostcount = 0 %}
{% for post in site.posts %}
	
	{% if post.title != page.title and post.title != recentpost %} 
	{% for tag in post.tags %}
	
		{% if page.tags contains tag and relevantpostcount == 0 %} 
		
		<div class="float-right">
		<div class="relevantpost" style="padding: 10px">
		
		
		<h4> You may find interesting: </h4> 
		
		<hr class="style-one">
		
		<a href="{{ post.url | prepend: site.baseurl }}"><span class="post-title"> {{ post.title }}</span></a>
		
		{% if post.subtitle %}
			<h4 class="post-subtitle">{{ post.subtitle }}</h4>
		{% endif %}
		
		<!--<p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }}</p>-->
		
		<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
		</div> 
		
		{% assign relevantpostcount = 1 %}
		
		{% continue %}	
		
		{% endif %}	
		
		{% if page.tags contains tag and relevantpostcount == 1 %} 
		
		<hr class="style-one">
		
		<a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title"> {{ post.title }}</h2></a>
		
		{% if post.subtitle %}
			<h4 class="post-subtitle">{{ post.subtitle }}</h4>
		{% endif %}
		
		<p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
		
		<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
		</div> 
		
		{% assign relevantpostcount = 2 %}
		
		{% break %}	
		
		{% endif %}	
		
	{% endfor %}
	{% endif %}
	
{% endfor %}

		</div>
		</div>

<!-- Post Content -->
{% include imagezoom.html %}

<!--<article>-->
    <!--<div id="content" class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->

				<!--{{ content | markdownify }}-->

                <!--<hr>-->

                <!--<ul class="pager">-->
                    <!--{% if page.previous.url %}-->
                    <!--<li class="previous">-->
                        <!--<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>-->
                    <!--</li>-->
                    <!--{% endif %}-->
                    <!--{% if page.next.url %}-->
                    <!--<li class="next">-->
                        <!--<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>-->
                    <!--</li>-->
                    <!--{% endif %}-->
                <!--</ul>-->

            <!--</div>-->

			<!--<div id="disqus_thread" style=" text-align: center; margin: 0 auto; width: 80%"></div>-->
			<!--<script>-->

                <!--/**-->
                 <!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
                 <!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
				<!--/*-->
				 <!--var disqus_config = function () {-->
				 <!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
				 <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
				 <!--};-->
				 <!--*/-->
                <!--(function() { // DON'T EDIT BELOW THIS LINE-->
                    <!--var d = document, s = d.createElement('script');-->
                    <!--s.src = 'https://temilee-github-io.disqus.com/embed.js';-->
                    <!--s.setAttribute('data-timestamp', +new Date());-->
                    <!--(d.head || d.body).appendChild(s);-->
                <!--})();-->
			<!--</script>-->
			<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->


		<!--</div>-->
    <!--</div>-->

<!--</article>-->

<header class="post-header">
	<div>
		<span>Last Modify </span><span class="post-meta">{{ page.lastmodify | date: "%B %-d, %Y" }}</span><br/>
		<span>Posted on </span><span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span>
	</div>
	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
</header>

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
</article>

<hr>

<!--{% include _comments.html %}-->

<hr>

